@model Route

@{ var Price = Model.Price; }
@if (ViewBag.Sayi < 5)
{
    Price = Price;
}
@if (ViewBag.Sayi > 5 && ViewBag.Sayi <= 10)
{
    Price = Price + Price * 0.10;
}
@if (ViewBag.Sayi > 10 && ViewBag.Sayi <= 15)
{
    Price = Price + Price * 0.20;
}
@if (ViewBag.Sayi > 15 && ViewBag.Sayi <= 20)
{
    Price = Price + Price * 0.30;
}
@if (ViewBag.Sayi > 20)
{
    Price = Price + Price * 0.40;
}





@{ var fiyat1 = @Price * 0.8;
    var fiyat2 = @Price * 0.7;
    var fiyat3 = @Price * 0.6;
    var fiyat4 = @Price * 0.5;
    var fiyat5 = @Price * 0.45; }
<div class="card mb-3 shadow">

    <div class="card-title pl-3 pt-3">
        <h1>@TempData["from"] - @TempData["to"]</h1>
    </div>
    <div class="card-body">
        <form action="/travel/details" method="POST" style="display:inline;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/img/@Model.ImageUrl" alt="Harita" width="90%" />
                </div>

                <div class="col-md-8">
                    <h4>@TempData["from"] - @TempData["to"] Aracı</h4>
                    <p><b>Güzergah: </b> @Model.Start > @Model.Route1 > @Model.Route2 > @Model.Route3 > @Model.Finish</p>
                    <p>@Model.date  -  @Model.Time</p>
                    <br />
                    <p>Dolu koltuk sayısı: @ViewBag.Sayi</p>



                    <input type="hidden" name="routeId" value="@Model.RouteId" />



                    @if ((@TempData["from"].ToString() == @Model.Start) && (@TempData["to"].ToString() == @Model.Finish))
                    {
        <p style="text-align: right; font-size:26px;">@Price ₺</p>
                        <input type="hidden" name="price" value="@Price" />}
                    @if ((@TempData["from"].ToString() == @Model.Start) && (@TempData["to"].ToString() == @Model.Route3))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat1 ₺</p>
                        <input type="hidden" name="fiyat" value="@fiyat1" />}
                    @if ((@TempData["from"].ToString() == @Model.Start) && (@TempData["to"].ToString() == @Model.Route2))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat2 ₺</p>
                        <input type="hidden" name="price" value="@fiyat2" />}
                    @if ((@TempData["from"].ToString() == @Model.Start) && (@TempData["to"].ToString() == @Model.Route1))
                    {
                <p style="text-align: right; font-size:26px;price">@fiyat3 ₺</p>
                        <input type="hidden" name="fiyat" value="@fiyat3" />}
                    @if ((@TempData["from"].ToString() == @Model.Route1) && (@TempData["to"].ToString() == @Model.Finish))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat1 ₺</p>
                        <input type="hidden" name="price" value="@fiyat1" />}
                    @if ((@TempData["from"].ToString() == @Model.Route1) && (@TempData["to"].ToString() == @Model.Route3))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat2 ₺</p>
                        <input type="hidden" name="price" value="@fiyat2" />}
                    @if ((@TempData["from"].ToString() == @Model.Route1) && (@TempData["to"].ToString() == @Model.Route2))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat3 ₺</p>
                        <input type="hidden" name="price" value="@fiyat3" />}
                    @if ((@TempData["from"].ToString() == @Model.Route1) && (@TempData["to"].ToString() == @Model.Start))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat5" />}
                    @if ((@TempData["from"].ToString() == @Model.Route2) && (@TempData["to"].ToString() == @Model.Finish))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat3 ₺</p>
                        <input type="hidden" name="price" value="@fiyat3" />}
                    @if ((@TempData["from"].ToString() == @Model.Route2) && (@TempData["to"].ToString() == @Model.Route3))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat5" />}
                    @if ((@TempData["from"].ToString() == @Model.Route2) && (@TempData["to"].ToString() == @Model.Start))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat4 ₺</p>
                        <input type="hidden" name="price" value="@fiyat4" />}
                    @if ((@TempData["from"].ToString() == @Model.Route2) && (@TempData["to"].ToString() == @Model.Route1))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat5" />}
                    @if ((@TempData["from"].ToString() == @Model.Route3) && (@TempData["to"].ToString() == @Model.Finish))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat5" />}
                    @if ((@TempData["from"].ToString() == @Model.Route3) && (@TempData["to"].ToString() == @Model.Route2))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat5" />}
                    @if ((@TempData["from"].ToString() == @Model.Route3) && (@TempData["to"].ToString() == @Model.Start))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat3 ₺</p>
                        <input type="hidden" name="price" value="@fiyat3" />}
                    @if ((@TempData["from"].ToString() == @Model.Route3) && (@TempData["to"].ToString() == @Model.Route1))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat4 ₺</p>
                        <input type="hidden" name="price" value="@fiyat4" />}
                    @if ((@TempData["from"].ToString() == @Model.Finish) && (@TempData["to"].ToString() == @Model.Route1))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat3 ₺</p>
                        <input type="hidden" name="price" value="@fiyat3" />}
                    @if ((@TempData["from"].ToString() == @Model.Finish) && (@TempData["to"].ToString() == @Model.Route3))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat5 ₺</p>
                        <input type="hidden" name="price" value="@fiyat4" />}
                    @if ((@TempData["from"].ToString() == @Model.Finish) && (@TempData["to"].ToString() == @Model.Start))
                    {
        <p style="text-align: right; font-size:26px;">@Price</p>
                        <input type="hidden" name="price" value="@Price" />}
                    @if ((@TempData["from"].ToString() == @Model.Finish) && (@TempData["to"].ToString() == @Model.Route1))
                    {
        <p style="text-align: right; font-size:26px;">@fiyat2 ₺</p>
                        <input type="hidden" name="price" value="@fiyat2" />}


                    <input type="hidden" name="from" value="@TempData["from"].ToString()" />
                    <input type="hidden" name="to" value="@TempData["to"].ToString()" />



                </div>

                <div class="row no-gutters">

                    <div class="col-md-12">
                        <br /><br /><hr /><br />
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail" required="required" style="width: 1000px; margin-left: 30px;">
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="" aria-describedby="" placeholder="İsim" required="required" style="width: 1000px; margin-left: 30px;">
                        </div>
                        <div class="form-group">
                            <input type="text" name="surname" class="form-control" id="" aria-describedby="" placeholder="Soyisim" required="required" style="width: 1000px;margin-left: 30px;">
                        </div>
                        <div class="form-group">
                            <select name="seatno" class="form-select form-select-lg mb-3" asp-items="@ViewBag.Koltuklar" required="required" style="width: 1000px; height:30px; margin-left: 30px;" required="required">
                                <option selected disabled>Koltuk Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg" style="color: white;margin-left: 38px;">Bilet Al</button>
                    <br />
                </div><br />
            </div>
        </form>
    </div><br />

</div>
<br />